div .carousel-indicators {
    top: 93%
}

div .card {
    width: 100%;
}

div .card-body-comp {
    height: 4em;
}

div .card-body-comp h6.card-title {
    position: relative;
    top: 1em;
}

div .card h6 {
    vertical-align: baseline;
}

.comp-service{
    /* position: relative; */
    width: 100%;
    padding-right: 10px;
}
div href{
    color: blueviolet;
}
.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }

  .react-slideshow-container .default-nav{
    border-radius: 0%;
    width: 40px;
  }

  