body {
    max-width: 100%;
    margin: 0;
}

.g-5,
.gx-5 {
    --bs-gutter-x: 0rem;
}

.bg-img{
    width: 100%;
}

.img-partners {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
     }
     100% {
        opacity: 1;
        transform: translateY(0);
     }
}