div .footer-text {
    margin-left: 50px;  
}
div .footer-text p{
    /* margin-top: 2px; */
    margin-bottom: 0.5em;
    color: rgb(224, 131, 131);
}
div .footer-text h5{
    margin-top: 1em;
}
div .footer-text a:hover{
    color: rgb(187, 53, 53);
    font-weight: 800;
}
a{
    color: rgb(214, 214, 214);
}
a .title1::before{
    color: rgb(82, 146, 146);
}